# ============================================
# TASFAM Website - Environment Variables
# ============================================

# Database
DB_USER=tasfam
DB_PASSWORD=MyTasfam@2026

# Database URL (Prisma)
DATABASE_URL=postgresql://tasfam:MyTasfam@2026@db:5432/tasfam

# Admin authentication secret
JWT_SECRET=xZ5dc9P2LTVWGb2X/+liSO5bU7YoDMCySYRrM5dGH9o=
